body {
       margin: 0;
      padding: 0;
     }
    
    
     .banner {
       background: url('https://www.shutterstock.com/image-photo/travel-luxury-cruise-vacation-holiday-260nw-730383313.jpg') no-repeat center center/cover;
       height: 300px;
     }
    
     .caption {
    font-size: 2.5rem;
      font-weight: bold;
     }
    
    
     .filter-section {
      background: url('https://as2.ftcdn.net/v2/jpg/04/69/24/57/1000_F_469245726_Y73tha1HDReziboCYIQJIGw1CkCoEdF0.jpg') no-repeat center center/cover;
       margin-bottom: 50px;
       padding: 20px;
     }
    
    
     .footer {
       width: 100%; 
       margin: 0; 
       padding: 20px 0; 
      background: url('https://www.shutterstock.com/image-vector/horizontal-vector-illustration-sandy-beach-260nw-2480275651.jpg') no-repeat center center/cover; 
       color: white; 
       text-align: center; 
       position: relative; 
       left: 0; 
       bottom: 0; 
     }
    
    
     .footer p {
      margin: 0; 
       font-size: 1rem; 
    }
    
    
    .card-body {
       display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
       align-items: center; 
     }
    
    
     .promotion-btn-1,
       .promotion-btn-2,
       .promotion-btn-3 {
         padding: 5px 15px 4px;
         font-size: 13px;
        margin: 20px 0;
       }
      
       .promotion-btn-1 {
         background-color: #ffd205;
       }
      
      .promotion-btn-2 {
        background-color: #f76570;
      }
      
      .promotion-btn-3 {
        background-color: #ba71da;
      }
       .promotion__item-desc {
        margin-top: 20px;
         font-size: 15px;
         color: var(--primary-text-color);
         line-height: 2;
        letter-spacing: 1px;
       }
    
    
     .btn:focus {
       outline: 2px solid #0056b3; 
       outline-offset: 2px;
     }
    
    
    
     .package-image {
       height: 200px;
       object-fit: cover;
       width: 100%;
    }
    
    
    .offer-img {
     height: 200px;
      object-fit: cover;
      width: 100%;
     }